
.md-header{
  background-color: #2A2646;
}

h4 {
  padding-top: 4%;
} 

th:nth-child(1){
     width: 30%;
}

[data-md-color-scheme="default"] table th{
  background: #D8DADE;
}

[data-md-color-scheme="default"] table tr td{
  background: white;
}

[data-md-color-scheme="slate"] table th{
  background: #2B4252;
}

[data-md-color-scheme="slate"] table tr td{
  background: #2E2F3E;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #FFFFFF;
}